<html>
<head>
<meta charset="utf-8" />
<title>MonzoDispatch FCM Test</title>
</head>
<body>
	<form method="POST" action="/">
		<table>
			<tr>
				<td>Server Key:</td>
				<td><input type="text" name="api_key" value="AAAAOKgxl2E:APA91bF1qypoLEFXuVCkI05ntor86viVonpg7gz16zN5uclm61fLTSMubcsw6Xe0hkFQ2CreeScblfsSWx1JZS1sr9Vg8LuhR8SGtAfI5o3wm_BcNGoZb9Wa7bYMFU3MeHUVKdVoMgTv" placeholder="Api Key"></td>
			</tr>
			<tr>
				<td>Device token:</td>
				<td><input type="text" name="token" value="chbzC9P1PTk:APA91bEQ0ZV4OqLQZOaMf4TeXCDaChzJgi3yR0g3l4HRLFYLbqF6yFcVqSHR7ugJRZrY0ulO3LHyaMSgO0z0F2ZfcOEPmOstJ8P35OO4VE9MH_QivQ_TFtk_xuIr3ETxpZXqso90V8Rt"></td>
			</tr>
			<tr>
				<td>Notification title:</td>
				<td><input type="text" name="notification_title" value="da title"></td>
			</tr>
			<tr>
				<td>Notification body:</td>
				<td><input type="text" name="notification_body" value="da body"></td>
			</tr>
		</table>

		<input type="submit" value="Send" class="btn btn-primary" /> 
		{% csrf_token %}
	</form>
	<div>
		{{ message }}
	</div>
</body>
</html>